OLLAMA_HOST=http://localhost:11434
OLLAMA_MODEL=qwen3
MCP_CONFIG_FILE=config/mcp.json
MCP_PROXY_API_KEY=''
MCP_MEMORY_FILE_PATH=$HOME/path/to/project/data/memory/memory.jsonl
LOG_DIR=$HOME/path/to/project/data/logs
